.input {
  margin-top: 10px;
  width: calc(100% - 24px);
  padding: 10px;
  font-size: 18px;
  border: 2px solid #FBE2CC;
  font-family: inherit;

}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;

}