.courses {
  border: 2px solid #BAD6E9;
  padding: 30px;
  margin-bottom: 30px;
  padding-bottom: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}